

<!-- Footer -->
<div class="mastfoot">
  <div class="inner">
    <p>
      <a href="http://www.selenewaide.ie">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <small>Selene Waide</small>
      </a>
      <a href="https://github.com/selenewaide" role="button"><i class="fa fa-github fa-1x" aria-hidden="true"></i></a>
      <a href="https://ie.linkedin.com/in/selenewaide" role="button"><i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
<!-- End: Footer -->

</div>

</div>

</div>



<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/libs/bootstrap.min.js"></script>
</body>
</html>