<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Other style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/app.css" rel="stylesheet">
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <!-- Navbar / Masthead -->
        <div class="masthead clearfix">
          <div class="inner container">
            <nav class="nav nav-masthead">
              <a class="nav-link" href="/">
                <i class="fa fa-film" aria-hidden="true"></i>
                Movie Search
              </a>
            </nav>
          </div>
        </div>
        <!-- End: Navbar / Masthead -->