<% include ./partials/header %>

<div class="container error-main">
    <div class="alert alert-danger error-alert" role="alert">

        <h1 class="alert-heading">
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            Oops! Something has gone wronge.
        </h1>

        <br>

        <p><%= error_msg %></p>

        <a class="btn btn-primary" href="/" role="button">Search Again</a>
    </div>

</div>

<% include ./partials/footer %>
